{% extends "layout.html" %}

{% block title %}
Quote
{% endblock %}

{% block main %}
<div class="container mt-4 d-flex justify-content-center">
    <form action="/quote" method="post" style="max-width: 400px;">
        <div class="input-group">
            <input type="text" id="symbol" name="symbol" class="form-control"
                placeholder="Enter Stock Symbol" required>
            <div class="input-group-append">
                <button type="submit" class="btn btn-primary">Get Quote</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}
